{% extends 'admin/layout.twig' %}
{% block body %}


<div class="row">
    <div class="col s12 center-align z-depth-2">
        <h3>Додати новий предмет</h3>
    </div>
</div>
<div class="row">
    <form class="col s12" id="auth-form">
        <div class="row">

            <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">assignment</i>
                <input id="number_group" type="number" class="validate register-surname center-align">
                <label for="number_group">Номер групи</label>
            </div>
            <div class="row">
                <button class=" col s8 offset-s2 waves-effect waves-light btn" id="group-action">Зберегти</button>
            </div>
        </div>
    </form>
</div>
<script>
    $("#group-action").on("click", function (e) {
        e.preventDefault();
        var data = {
            "group": {
                "number": $('#number_group').val(),
            }
        };

        $.ajax({
            type: "POST",
            url: '/api/admin/group',
            dataType: 'json',
            data: JSON.stringify(data),
            processData: false,
            contentType: "application/json; charset=UTF-8",
        }).done(function (result) {
            if (result.success) {
                M.toast({html: 'Нову групу успішно додано', classes: 'rounded'});
            }else {
                M.toast({html: 'Група вже зареєстрована', classes: 'rounded'});
            }
        }).catch(function (result) {
            M.toast({html: 'Група вже зареєстрована', classes: 'rounded'});
        })
    })

</script>
{% endblock body %}