<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% include 'includes/css-required-header.twig' %}
    {% include 'includes/js-required-header.twig' %}
    <link type="text/css" rel="stylesheet" href="/stylesheets/admin/main.css" media="screen,projection"/>
</head>
<body>
<div class="row  purple darken-3">
    <div class="col s12 center-align">
        <a href="#" data-target="slide-out" class="sidenav-trigger brand-logo center"><i
                    class=" medium material-icons">dashboard</i></a>
    </div>
</div>

<ul id="slide-out" class="sidenav">
    <li><br><h5 class="center-alig purple-text">Адміністратор</h5>
        <div class="divider"></div>
        <br></li>
    <li><a href="/admin/"><i class="material-icons">cloud</i>База даних</a></li>
    <li><a href="/admin/subject"><i class="material-icons">add_circle_outline</i>Додати предмет</a></li>
    <li><a href="/admin/group"><i class="material-icons">add_circle_outline</i>Додати групу</a></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>


{% block body %}{% endblock  body %}

{% include 'includes/js-required-footer.twig' %}
<script src="/javascripts/admin/main.js"></script>
</body>
</html>