{% extends 'admin/layout.twig' %}
{% block body %}


<div class="row">
    <div class="col s12 center-align z-depth-2">
        <h3>Додати новий предмет</h3>
    </div>
</div>
<div class="row">
    <form class="col s12" id="auth-form">
        <div class="row">

            <div class="input-field col s4 offset-s2">
                <i class="material-icons prefix">assignment</i>
                <input id="subject_title" type="text" class="validate register-surname ">
                <label for="subject_title">Назва предмета<b>*</b></label>
            </div>


            <div class="input-field col s4">
                <i class="material-icons prefix">grid_on</i>
                <select name="group_id" id="group_id">
                    {% for group in groups %}
                    <option value="{{group._id}}">{{group.number}}</option>
                    {% endfor %}
                </select>
                <label>Група в якій буде проводитися</label>
            </div>
        </div>

        <div class="row">
            <button class=" col s8 offset-s2 waves-effect waves-light btn" id="subject-action">Зберегти</button>
        </div>
    </form>
</div>
<script>
    $("#subject-action").on("click", function (e) {
        e.preventDefault();
        var data = {
            "subject": {
                "group": $('#group_id').val(),
                "title": $('#subject_title').val()
            }
        };

        $.ajax({
            type: "POST",
            url: '/api/admin/subject',
            dataType: 'json',
            data: JSON.stringify(data),
            processData: false,
            contentType: "application/json; charset=UTF-8",
        }).done(function (result) {
            if (result.success) {
                M.toast({html: 'Новий предмет успішно додано', classes: 'rounded'});
            }else {
                M.toast({html: 'Предмет з такою назвою на групою вже створено', classes: 'rounded'});
            }
        }).catch(function (result) {
            M.toast({html: 'Предмет з такою назвою на групою вже створено', classes: 'rounded'});
        })
    })
</script>
{% endblock body %}