
.nav-wrapper{
    background: #512da8;
    font-weight: 500;
}

.head-search{
    box-shadow: none;
    background: none;
}

.pd20{
    padding-left: 20px;
    padding-right: 20px;
}
.head-li:first-child {
    padding-left: 25px;
    padding-right: 25px;
}
.tabs{
    background: none;
    font-weight: 600;
}

.tabs .tab a:hover, .tabs .tab a.active{
    background-color: rgba(81, 45, 168, 0.21);
    color: #512da8;
}

.tabs .tab a:focus, .tabs .tab a:focus.active{
    background-color: rgba(81, 45, 168, 0.21);
    color: #512da8;
}

.tabs .tab a{
    color: #512da8;
}

.tabs .indicator {
    will-change: contents;
    background-color: #512da8;
}

.err-valid-data{
    border-bottom: 1px solid #ff2626 !important;
    -webkit-box-shadow: 0 1px 0 0 #ff2626 !important;;
    box-shadow: 0 1px 0 0 #ff2626 !important;
    color: #ff2626 !important;
}