<div id="edit" class="modal"></div>


<div id="add-subject" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="row">

            <div class="input-field col s8 offset-s2">
                <i class="material-icons prefix">grid_on</i>
                <select name="select" id="new_subject">
                    {% for subject in subjects %}
                        <option value="{{subject._id}}">{{subject.groupNumber}} - {{ subject.title }}</option>
                    {% endfor %}
                </select>
                <label>Предмети</label>
            </div>
        </div>
        <div class="row">
            <button class=" col s8 offset-s2 waves-effect waves-light btn" id="add_new_subject" data-id="{{ user._id }}">Додати новий предмет</button>
        </div>
    </div>
</div>

<script>
    if(getParameterByName('id')){
        try {
            $("#" + getParameterByName('id')).click();
        }catch (e) {}
    }
    // Remove subject
    $('body').on('click', '.remove-subject', function () {
        var id = $(this).attr('data-id');
        var subject_id = $("#del_subject").val();

        $.ajax({
            type: "DELETE",
            url: '/api/admin/user/'+id+'/subject',
            dataType: 'json',
            data: JSON.stringify({subject_id: subject_id}),
            processData: false,
            contentType: "application/json; charset=UTF-8",
        }).done(function (result) {
            $('#edit').html('').html(result);
            $('select').formSelect();
            var name = $('.update-name'); name.parent().find('label').addClass('active');
            var surname = $('.update-surname'); surname.parent().find('label').addClass('active');
            var email = $('.update-email'); email.parent().find('label').addClass('active');
            var phone = $('.update-phone'); phone.parent().find('label').addClass('active');
            var access = $('.update-access');
            var subject = $('.update-subject');
            var password = $('.update-password');
            M.toast({html: 'Предмет успішно видалено', classes: 'rounded'});

        }).catch(function (result) {
            M.toast({html: 'Предмет успішно видалено', classes: 'rounded'});
            $('#edit').html('').html(result.responseText);
            $('select').formSelect();
            var name = $('.update-name'); name.parent().find('label').addClass('active');
            var surname = $('.update-surname'); surname.parent().find('label').addClass('active');
            var email = $('.update-email'); email.parent().find('label').addClass('active');
            var phone = $('.update-phone'); phone.parent().find('label').addClass('active');
            var access = $('.update-access');
            var subject = $('.update-subject');
            var password = $('.update-password');
        })
    });
    // Open edit modal
    $('body').on('click', '.user-edit', function () {
        var id = $(this).data('id');

        $.ajax({
            type: "GET",
            url: '/api/admin/user/'+id,
        }).done(function (result) {
            $('#edit').html('').html(result);
            $('select').formSelect();
            var name = $('.update-name'); name.parent().find('label').addClass('active');
            var surname = $('.update-surname'); surname.parent().find('label').addClass('active');
            var email = $('.update-email'); email.parent().find('label').addClass('active');
            var phone = $('.update-phone'); phone.parent().find('label').addClass('active');
            var access = $('.update-access');
            var subject = $('.update-subject');
            var password = $('.update-password');
        })
    });

    // Add new subject
    $('body').on('click','#add_new_subject', function () {
        var id = $(this).data('id');
        var subject = $("#new_subject").val();
        $("#edit").modal('close');
        $.ajax({
            type: "PATCH",
            url: '/api/admin/user/'+id+'/subject',
            dataType: 'json',
            data: JSON.stringify({subject_id: subject}),
            processData: false,
            contentType: "application/json; charset=UTF-8",
        }).done(function (result) {
            $('#edit').html('result').html(result);

            var name = $('.update-name'); name.parent().find('label').addClass('active');
            var surname = $('.update-surname'); surname.parent().find('label').addClass('active');
            var email = $('.update-email'); email.parent().find('label').addClass('active');
            var phone = $('.update-phone'); phone.parent().find('label').addClass('active');
            var access = $('.update-access');
            var subject = $('.update-subject');
            var password = $('.update-password');
            M.toast({html: 'Предмет успішно додано', classes: 'rounded'});
            $("body #edit").modal('open');
        }).catch(function (result) {

            M.toast({html: 'Викладач вже викладає даний предмет', classes: 'rounded'});
        })

    })
</script>