<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {% include 'includes/js-required-header.twig' %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
